<div class="container bg">
	
    <div class="row">
        <div class="center col-sm-12">
            <img src="https://image.freepik.com/free-photo/delicious-cheeseburger_1232-503.jpg" alt="burgerTimeApp" height="200px">
            <h1>Burger Time App!</h1>
            <p></p>
        </div>
    </div>

	<div class="row">
        <div class="col-sm-6">

			<br>
			
            <h2 class="animated zoomIn">Burgers Available To Eat!</h2>

            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                    <li style="font-family:Arial, Helvetica, sans-serif; font-size: 24px; padding: 10px;">
                        {{this.id}}
                        {{this.burger_name}}

                        <br>

                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="true">
                            <button class="btn-primary" type="submit" style="background-color: cadetblue; font-family:Arial, Helvetica, sans-serif; font-size: 24px; color:#ffffff;">Devour It!</button>
                        </form>

                    </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-6">

                <h2>Burgers That Have Been Eaten!</h2>
			
                {{#each burgers}}
                {{#if this.devoured}}
                    <li>
                        {{this.id}}
                        {{this.burger_name}}

                    </li>
                {{/if}}
                {{/each}}
		</div>
    </div>
	<!-- end .row -->

    <div class="row">
        <div class="center col-sm-12">

            <h2>Add A Burger!</h2>

            <form class="create-update-form" action="/" method="POST">

                <div class="form-group">
                    <p>Enter the delicious burger you want to eat and hit Submit!</p>
                    <input type="text" id="ca" name="burger_name">
                </div>
                
                <button class="btn-primary" type="submit">Submit Order</button>
                
            </form>

        </div>
    </div>
</div>
